
@import './media'


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

:root{

	--cp: #161616;
	--cs: #f2472c;
	--green: #72b626;
	--nero: #252525;
	--transition: all 0.4s ease;
	--trans:  all 0.4s ease-in-out;
	--poppings: 'Poppings', sans-serif;
	--sans: 'Open Sans', sans-serif;
	--white: #fdfdfd;
	--white1: #252525;
	--nero1: ;
	--black: black;
	--theme: #72b626;
	--con: whitesmoke;
	--nero2: #252525;

}


.light-mode{

	--black: none;
	--cp: #e8e7ea;
	--cs: #6763d4;
	--white: #171719;
	--white1: #1f1f1f;
	--nero: #6763d4;
	--nero1: #000000;
	--green: #6763d4;
	--theme: #fdfdfd;
	--con: black;
	--nero2: #3d292938;

	


}


body{

	background-color: var(--cp);
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	color: var(--white);
	transition: all .4s ease-in-out;
	



}

header{
	min-height: 100vh;
	color: white;
	overflow: hidden;

}

a{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-family: inherit;

}

section{

	min-height: 100vh;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 3rem 18rem;
}


.container{


}





.controls{
	position: fixed;
	z-index: 10;
	top: 55%;
	right: 2%;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
}


.controls .control{
		
  padding: 1rem;
  cursor: pointer;
  background-color: var(--nero);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  

	}

.controls .control:hover{

	background-color: var(--theme);
}	

.controls .control i{

	justify-content: center;
	color: var(--cp);


}


.controls .active-btn{
	background-color: ;

}

.controls .active-btn i{
	color: var(--con);
}


.header-content{

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 100vh;

}

.header-content .left-header{
	display: flex;
	align-items: center;
	position: relative;
	
	
}

.header-content .left-header .h-shape{

	transition: var(--trans);
	width: 65%;
	height: 100%;
	background-color: var(--cs);
	position: absolute;
	left: 0;
	z-index: -11;
	top: 0;
	clip-path: polygon(0 0, 56% 0, 89% 100%, 0% 100%);


}

.header-content .left-header .image{

	border-radius: 14px;
  
   height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;

}

.header-content .left-header .image img{
 
  
  height: 100%;
  width: 100%;
  margin-left: 4rem;
  background-color: var(--black);
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}



.header-content .left-header .image img:hover{


	filter: grayscale(50%);




}





.right-header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 18rem;
	

}

.right-header h1{

	color: var(--white);
}

.right-header p{

	font-weight: 300;
	justify-content: center;
	line-height: 2.3rem;
	color: var(--white);
	margin: 0 auto;

}



.nav-link{

	font-size: 3rem;
	color: var(--green);

}


.nav-item{
	text-align: center;
	padding: 0.3rem;
	position: relative;
}
.nav-item::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	width: 0;
	height: 2px;
	background: var(--green);
	transition: var(--transition);
}

.nav-item:hover::after{
		width: 200px;	
	

}
.nav-link{
	text-transform: uppercase;
	transition: var(--transition);


}
.nav-link:hover{
	color: #004d00;
}








.btn-con{
	display: flex;
	align-self: flex-start;
	padding: 2rem;
	justify-content: center;
	align-items: center;
}

.main-btn{

	border-radius: 30px;
	color: var(--green);
	font-weight: 600;
	position: relative;
	border: 1px solid dimgrey;
	display: flex;
	align-self: flex-start;
	display: flex;
	align-items: center;
	overflow: hidden;

}


.main-btn .btn-text{

	padding: 0.6rem;
	
	

}

.main-btn .btn-icon {
  background-color: var(--nero1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}





.main-btn:hover .btn-text{

	color:  #004d00;
	transition: var(--trans);
}
.main-btn:hover {
	border: 1px solid darkred;
	transition: var(--transition);
}

.footer-text{
	height: auto;
	margin: 0;
	padding: 0;

}

.footer-text .text{
	position: absolute;
	color: var(--green);
	left: 35%;
	margin: 0;
	padding: 0;


	
}



.title {
	position: relative;
	padding: 0;
	margin: 0;
}
.title > h2{
	font-size: 3rem;
	font-family: var(--poppings);
	text-align: center;
	text-transform: capitalize;
	font-weight: 900;
	color: var(--nero);
}
.title div{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 100%;
	transform: translate(-50%, -50%);
}

.title div h2{
	text-transform: capitalize;
	font-size: 2rem;
	font-family: var(--poppings);
	font-weight: 800;
}
@media screen and (min-width: 500px){
	.title > h2{
		font-size: 6rem;
	

	}
	.title div h2{
		font-size: 3rem;

    }


}


@media only screen and (max-width:600px){


	.nav-link{
		font-size: 25px;

	}

	.header-content {
        display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: auto;
  }

  .left-header .h-shape {
    display: none;
  }

  .right-header {
    grid-row: 2;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .right-header .name {
    font-size: 2rem !important;
    text-align: center;
    padding-top: 3rem;
  }

  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }

  p{

  	width: 90vw;
	margin: 0 auto;
  }


	.controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #454745;
    height: 68px;
  }
  .controls .control {
    margin: 1rem 0.3rem;

  }


	.footer-text{

		display: none;
	}
.right-header p{

	
	font-weight: 200;
	font-size: 0.6rem;
}


}


.dark{
	position: fixed;
	top: 0;
	color: var(--theme);
	right: 0;
	padding: 1.2rem;
	border-radius: 50%;

	margin: 20px;
	background-color: var(--nero);




}





.dark i{

	font-size: 30px;
}








	.skills{
		width: 90vw;
	    margin: 0 auto;
	}

	.skills{
		padding: 5rem 0 2.5rem 0;
	}

	.skills > .text{

	  width: 70%;
	  margin: 1.5rem auto;
	  text-align: center;

    }

    .row{
    	margin: 1rem 0;

    }

    .item{

    	padding: 0.5rem 0;
    	margin: 0.3rem 0;
    }

    .item-text{

    	display: flex;
    	justify-content: flex-start;
    	font-size: 1.3rem;
    	font-weight: 600;
    	position: relative;
    	color: var(--white);

    }

    .item-text .w-90{
    	margin-left: 75%; 
    }
    .item-text .w-95{
    	margin-left: 71%; 
    }
    .item-text .w-80{
    	margin-left: 70%; 
    }
    .item-text .w-50{
    	margin-left: 35%; 
    }
    .item-text .w-25{
    	margin-left: 3%; 
    }
    .item-text .w-910{
    	margin-left: 72%; 
    }
    .progress{
    	margin: 0.8rem 0;
    	border-radius: 10px;
    	height: 16px;
    	width: 100%;
    	background-color: var(--nero2);
    	overflow: hidden;

    }
    .progress-bar{
    	background: var(--green);
    	height: 100%;
    	border-top-right-radius: 2px;
    	border-bottom-right-radius: 2px;
    }

    .progress-bar.w-90{
    	width: 90%;
    }
    .progress-bar.w-25{
    	width: 25%;
    }
    .progress-bar.w-90{
    	width: 90%;
    }
    .progress-bar.w-50{
    	width: 50%;
    }
    .progress-bar.w-80{
    	width: 80%;
    }
    .progress-bar.w-95{
   		width: 95%;
    }

    @media screen and (min-width: 768px){
	 .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: auto;
}
	
	



}



@media screen and (max-width: 970px) {
  

  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2	rem;
    justify-content: center;
    align-self: center;
  }

  .left-header .h-shape {
    display: none;
  }
  .left-header .image {
    width: 90% !important;
    margin: 100px;
    justify-content: center;
  }

  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}

.social{

	position: absolute;
	background-color: var(--nero);
	border-radius: 50%;
	padding: 1rem;
	margin: 1rem;
	right: 0;
	bottom: 0.6%;


}
.social:hover{
	background-color: var(--theme);


}

.social i{
	color: #00acee;
	
}

/* Resume */

.resume{
	padding: 5rem 0 2.5rem 0;
}
.resume > .text{
	width: 70%;
	margin: 1.5rem auto;
	text-align: center;
}
.resume .item{
	padding: 0 2.5rem;
	margin: 2rem;

	border-left: 1px solid var(--nero);
	position: relative;
}
.resume .item > span{
	background-color: var(--nero);
	border-radius: 15px;
	padding: 0.25rem 0.7rem;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 600;
}
.resume .item h2{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2rem;
}
.resume .item h2 span{
	font-size: 1rem;
	color: #d0d0d0;
	
}
.resume .item .text{
	font-size: 1rem;
	padding-bottom: 0; 
	color: var(--white);
}
.resume .icon{
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	background-color: var(--green);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: -25px;
}


