*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

:root{

	--cp: #161616;
	--cs: #f2472c;
	--green: #72b626;
	--nero: #252525;
	--transition: all 0.4s ease;
	--trans:  all 0.4s ease-in-out;

}

body{

	background-color: var(--cp);
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	color: white;
	transition: all .4s ease-in-out;

}

header{
	height: 100vh;
	color: white;
	overflow: hidden;

}

a{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-family: inherit;

}

section{

	min-height: 100vh;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 3rem 18rem;
}

.section{
	transform: translateY(-100%) scale(0);
	transition: all .4s ease-in-out;
	background-color: var(--cs);

}






.controls{
	position: fixed;
	z-index: 10;
	top: 55%;
	right: 3%;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
}


.controls .control{
		
		padding: 1rem;
		cursor: pointer;
		background-color: var(--nero);
		border-radius: 50%;
		justify-content: center;
        align-items: center;
		width: 55px;
        height: 55px;
        margin: 0.7rem;

	}

.controls .control:hover{

	background-color: dimgrey;
}	

.controls .control i{

	justify-content: center;
	color: var(--cp);


}


.controls .active-btn{
	background-color: red;

}

.controls .active-btn i{
	color: whitesmoke;
}


.header-content{

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 100vh;

}

.header-content .left-header{
	display: flex;
	align-items: center;
	position: relative;
	
	
}

.header-content .left-header .h-shape{

	transition: var(--trans);
	width: 65%;
	height: 100%;
	background-color: var(--cs);
	position: absolute;
	left: 0;
	z-index: -11;
	top: 0;
	clip-path: polygon(0 0, 56% 0, 89% 100%, 0% 100%);


}

.header-content .left-header .h-shape .image{

	border-radius: 50%;
	height: 90%;
	width: 60%;
	margin-left: 4rem;
	transition: var(--trans);

}

.header-content .left-header .h-shape .image img{

	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.4s ease-in-out;
    filter: grayscale(100%);


}

.header-content .left-header .h-shape .image img:hover{


	filter: grayscale(50%);




}





.right-header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 18rem;

}
.nav-link{

	font-size: 3rem;
	color: var(--green);

}


.nav-item{
	text-align: center;
	padding: 0.6rem;
	position: relative;
}
.nav-item::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	width: 0;
	height: 2px;
	background: var(--green);
	transition: var(--transition);
}

.nav-item:hover::after{
		width: 200px;	
	

}
.nav-link{
	text-transform: uppercase;
	transition: var(--transition);

}
.nav-link:hover{
	color: #004d00;
}








.btn-con{
	display: flex;
	align-self: flex-start;
	padding: 2rem;
	justify-content: center;
	align-items: center;
}

.main-btn{

	border-radius: 30px;
	color: var(--green);
	font-weight: 600;
	position: relative;
	border: 1px solid dimgrey;
	display: flex;
	align-self: flex-start;
	display: flex;
	align-items: center;
	overflow: hidden;

}


.main-btn .btn-text{

	padding: 0.2rem;

}

.main-btn .btn-icon {
  background-color: var(--nero);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}




























/*
<div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="img/hero.png" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    Hi, I'm <span>Solano Milan Diaz.</span>
                    A Web Developer.
                </h1>
                <p>
                    I'm a Web Developer, I love to create beautiful and functional websites.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis sed aut!
                </p>
                <div class="btn-con">
                    <a href="" class="main-btn">
                        <span class="btn-text">Download CV</span>
                        <span class="btn-icon"><i class="fas fa-download"></i></span>
                    </a>
                </div>
            </div>
        </div>


*/