@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{

  --cp: #161616;
  --cs: #f2472c;
  --green: #72b626;
  --nero: #252525;
  --transition: all 0.4s ease;
  --trans:  all 0.4s ease-in-out;
  --poppings: 'Poppings', sans-serif;
  --sans: 'Open Sans', sans-serif;
  --white: #fdfdfd;
  --white1: #252525;
  --nero1: ;
  --black: black;
  --theme: #72b626;
  --con: whitesmoke;
  --nero2: #252525;

}


.light-mode{

  --black: none;
  --cp: #e8e7ea;
  --cs: #6763d4;
  --white: #171719;
  --white1: #1f1f1f;
  --nero: #6763d4;
  --nero1: #000000;
  --green: #6763d4;
  --theme: #fdfdfd;
  --con: black;
  --nero2: #3d292938;

  


}


.controls{
  position: fixed;
  z-index: 10;
  top: 55%;
  right: 2%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
}


.controls .control{
    
  padding: 1rem;
  cursor: pointer;
  background-color: var(--nero);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  

  }

.controls .control:hover{

  background-color: var(--theme);
} 

.controls .control i{

  justify-content: center;
  color: var(--cp);


}


.controls .active-btn{
  background-color: ;

}

.controls .active-btn i{
  color: var(--con);
}



  
  .title {
  position: relative;
  padding: 0;
  margin: 0;
}
.title > h2{
  font-size: 3rem;
  font-family: var(--poppings);
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  color: var(--nero);
}
.title div{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
}

.title div h2{
  text-transform: capitalize;
  font-size: 2rem;
  font-family: var(--poppings);
  font-weight: 800;
  color: white;
}
@media screen and (min-width: 500px){
  .title > h2{
    font-size: 6rem;
  

  }
  .title div h2{
    font-size: 3rem;


    }


}

.dark{
  position: fixed;
  top: 0;
  color: var(--theme);
  right: 0;
  padding: 1.2rem;
  border-radius: 50%;

  margin: 20px;
  background-color: var(--nero);




}





.dark i{

  font-size: 30px;
}




html{
  scroll-behavior: smooth;
}
body{
  background: var(--cp);

}
::selection{
  color: #fff;
  background: #ff7979;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }